* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #141a34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.input-group span i {
  color: seagreen;
}

#information {
  font-size: 14px;
  font-weight: 150;
  text-align: justify;
}

#suicide-help {
  border: solid;
  display: flex;
  font-style: italic;
  background-color: rgb(252, 155, 174);
  padding: 0.5rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#checkbox {
  font-size: 14px;
  font-weight: 150;
}

.input-group label {
  flex-basis: 28%;
}

.input-group input, .input-group textarea {
  flex-basis: 90%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}

::placeholder {
  font-size: 14px;
}

span {
  font-size: x-small;
  color: rgb(104, 88, 88);
  border: hidden;
}

form button {
  background: #141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}